.carousel-container {
    box-sizing: border-box;
    padding: 0 4rem;
    min-height: max(640px, 100vh);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    height: 600px;
}

.carousel-container h1 {
    color: white;
    font-size: 6rem;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: -2px;
}

.carousel-arrow {
    background: none;
    border: none;
    outline: none;
    color: var(--primary-background);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: filter 150ms ease, opacity 100ms ease;
    cursor: pointer;
    z-index: 2;
}

.carousel-arrow.next {
    right: max(8%, 1rem);
}

.carousel-arrow.prev {
    left: max(8%, 1rem);
}

.carousel-arrow > *:first-child {
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.2))
}

.carousel-arrow:hover {
    filter: drop-shadow(0 0 6px rgba(255,255,255,0.5));
}

.carousel-arrow:active {
    opacity: .3;
}

.carousel-container .cta-button {
    width: max(25%, 120px);
    height: 52px;
    font-size: var(--font-medium);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-background);
    border-radius: 28px;
    background: none;
    margin: 0 1rem;
    border: 2px solid var(--primary-background);
    cursor: pointer;
    transition: box-shadow 200ms ease-out, transform 150ms ease-in-out;
    box-shadow: 0 0 16px 2px transparent;
}

.carousel-container .cta-button:hover {
    box-shadow: 0 0 16px 2px white;
    transform: scale(102%);
}

.carousel-container .cta-button.highlight {
    border-color: transparent;
    background-color: var(--dark-highlight);
}

.carousel-container .cta-button.highlight:hover {
    box-shadow: 0 0 16px 6px var(--highlight);
}

.carousel-container .cta-button.icon > *:first-child {
    margin: 0 1rem 0 -1rem;
}