.showcase-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-height: max(640px, 70vh);
    width: 100%;

}

.showcase-section > .article-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: min-content;
}

.article-container > article {

    padding: 2rem 0;
    font-size: 1.35rem;
    font-weight: 500;
    width: max(320px, 70%);
    
}

.showcase-section p {
    color: white;
    white-space: pre-wrap;
    line-height: 1.25;
}

.showcase-section h2 {
    color: white;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
}

.showcase-section h3 {
    color: #aeeee0;
    font-size: 2rem;
    line-height: 0.25;
    margin-top: 3rem;
}

.showcase-section > .images {
    margin-top: -3rem;
    pointer-events: none;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    transform: rotateZ(12deg);
    padding: 0 4rem;
}

.showcase-section > .images > img {
    backface-visibility: hidden;
    max-width: 100%;
    min-width: 320px;
    flex-grow: 0;
    flex-shrink: 1;
    filter: drop-shadow(0 0 12px var(--highlight));
}

.showcase-section > .images > img:last-child {
    margin-left: 3rem;
    margin-bottom: -6rem;
}