:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-foreground: #242424;
  --primary-background: #FFF;

  /* color-scheme: light dark; */
  color: var(--primary-foreground);
  background-color: var(--primary-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --primary-foreground: #EDEDED;
    --primary-background: #242424;
  }
} */

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.find {
  border: 1px solid red;
}